{% extends 'base.html' %}

{% block content %}

<section class="contact">

    <h1>Contact</h1>

    <div class="contact-card">

        <h2>Let's Connect</h2>

        <p>
            Thank you for visiting my portfolio.
            Feel free to reach out through any of the platforms below.
        </p>

        <div class="contact-info">

            <p><strong>Email</strong><br>
            maveipecson.25@gmail.com</p>

            <p><strong>GitHub</strong><br>
            <a href="https://github.com/Flakes25" target="_blank">
                My Github
            </a></p>

            <p><strong>Facebook</strong><br>
            <a href="https://facebook.com/slmn.flakes" target="_blank">
                My Facebook
            </a></p>

        </div>

    </div>

</section>

{% endblock %}