{% extends 'base.html' %}

{% block content %}

<section class="contact">

    <h1>Leave a Testimony</h1>

    <div class="contact-card">

        <form method="POST" class="portfolio-form">

            {% csrf_token %}

            {% for field in form %}

            <div class="form-group">

                {{ field.label_tag }}

                {{ field }}

                {% if field.errors %}
                    <p class="error">
                        {{ field.errors }}
                    </p>
                {% endif %}

            </div>

            {% endfor %}

            <button type="submit" class="btn">
                Submit Testimony
            </button>

        </form>

    </div>

</section>

{% endblock %}